$bg-red: #f55123;
$bg-orange: #ff9c3c;
$bg-yellow: #fed403;

$light-gray: #e7e6e6;
$dark-gray: #333;

$padding-xs: 5px;
$padding-sm: 10px;
$padding-md: 15px;
$padding-lg: 20px;
$padding-xl: 25px;
$padding-xxl: 30px;

$margin-xs: $padding-xs;
$margin-sm: $padding-sm;
$margin-md: $padding-md;
$margin-lg: $padding-lg;
$margin-xl: $padding-xl;

$btn-base-bg-color: #089de3;
$btn-hover-bg-color: #089df5;
$btn-disabled-bg-color: #dcdcdc;

$text-dark: #333;
$text-light: #fff;

$font-xs: 10px;
$font-sm: 12px;
$font-md: 14px;
$font-lg: 18px;
$font-xl: 24px;
$font-xxl: 32px;

$mobile-xs-res: 375px;
$mobile-res: 600px;
$tablet-res: 860px;
